.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}


body {
background: #303030;
color: white;
position: absolute;
text-align: center;
left:5%;
  right:5%;
}

.ciudad {
  font-size:40pt;
  color: #a366ff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}
.grados {
  font-size:35pt;
  color: #a366ff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}
.max_min {
  font-size:25pt;
  color: #a366ff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}
.presion {
  font-size:20pt;
  color:#a366ff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.humedad {
  font-family: 'Josefin Sans', sans-serif;
  color: #a366ff;
  font-size: 20pt;
  font-weight: bold;
}

.visib {
  font-size:20pt;
  color: #a366ff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.viento {
  font-size:20pt;
  color: #a366ff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}


.title {
  font-family: 'Josefin Sans', sans-serif;
  color:#DDD;
  font-size: 38pt;
  font-weight: bold;
}


/*boton*/

.button{
			text-align:center;
			text-decoration: none;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      display:inline-block;
			color: #FFF;
			background: #7F8C8D;
			padding: 15px 30px;
			white-space: nowrap;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			margin: 10px 5px;
			-webkit-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}

